.container {
  width: 100%;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
}

.avatar {
  width: 200px;
  border-radius: 100px;
}
.NameText {
  font-weight: bold;
  font-size: 45px;
}

.smallInfo i {
  margin-right: 5px;
}

.smallInfo li {
  text-align: left;
  list-style: none;
  margin-left: 0;
}

.icon {
  margin: 10px 20px;
}

.infoSmallText {
  margin-left: 20px;
  align-self: center;
}
