.container {
  width: 30%;
  padding: 80px;
  margin: 0 auto;
  position: static;
  text-align: center;
  border-radius: 10px;
  background-color: #e2e2e2;
}

.text {
  display: inline;
}

.link {
  text-decoration: none;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #575757;
  color: #efefef;
  border-radius: 5px;
}

.link:hover {
  background-color: #000;
  color: #e3e3e3;
}
